body,
div,
nav,
footer,
header,
main,
ul,
li,
p,
article,
h4,
input,
textarea {
    padding: 0;
    border: 0;
    margin: 0;
}
@font-face {
    font-family: LigueGothic;
    src: url('../fonts/LeagueGothic-Regular.otf') format("opentype");
}

@font-face {
    font-family: DroidSans;
    src: url('../fonts/DroidSans.ttf') format("truetype");
}

/* notFound page */

/* #notFound{
    background-image: url('../images/notFound.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    display: inline-block;
} */

body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #1c1d1c, #323232 21.4%, #323232 78.6%, #1c1d1c);
    font-family: DroidSans !important; 
    position: relative;
    color: white;
    /* width: 1650px; */
   
}
#logo {
    background-image: url('../images/logo.png');
    background-repeat: no-repeat;
    background-size: 100%;
    display: block;
     width: 395px;
    height: 100px; 
    padding: 50px;
}

/* HEADER */
header {
  padding-top: 102px;
   padding-left: 67px;
}
.img-responsive{
    width: 359px;
}
nav{
    margin-top: 10px;
    z-index: 1;
    display: inline-block;
}
ul {
   list-style-type: none;
}
a{
    text-decoration: none!important;
}
.mainUl {
    padding-left: 0;
    padding-top: 15px;
   
}
#first-li-child{
    color: #dcc08e;
}
.mainUl>li{
    display: inline-block;
    /* margin-left: 20px; */
    position: relative;
  
}

.mainUl>li:hover .rootMenu{
    background:#161616;
    padding: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: #dcc08e;
    text-decoration: none;
}
.mainUl>li:hover .submenu{
    display: block;
 }
.mainUl>li>a{
   
    /* border-radius: 3px;  */
    font-family: LigueGothic !important;
    font-size: 20px;
    text-transform: uppercase;
    color: white;
    display: inline-block;
    text-shadow: 2px 2px black;
    padding: 10px;
   
}
.rootMenu{
    display: inline-block;
    cursor: default;
}

.submenu>li>a:hover{
    color: #dcc08e;
    text-decoration: none;
}
.submenu>li{
    padding-top: 2px;
    padding-bottom: 2px;
    width: 202px;
}
.submenu>li>a:hover .bullet{
    color: #901c0d;
    
}
/* .submenu>li:hover .submenu>li{
    color: yellow;
} */
.submenu{
    position: absolute;
    padding-left: 10px;
    background:#161616;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    z-index: 10;
    padding-top: 10px;
    padding-bottom: 10px;
    display: none;
}

.submenu>li>a {
    font-family: LigueGothic;

    font-size: 20px;
    text-transform: uppercase;
    color: white;
    text-shadow: 2px 2px black;
    /* padding: 0; */
    
}
.search{
    float: right;
    border-right: 1px solid #595959;
    border-bottom: 1px solid #595959;
    padding: 5px;
    background: #1e1e1e;
    height: 100%;
    margin-right: 50px;
    
}
.search>input{
    background: #1e1e1e;
    color: white;
    outline: none;
}
.search>button{
    background: transparent;
    border: none;
}

#main-content{
    margin-left: 86px;
    margin-right: 58px;
} 

/* SINGLE POST */
.post-location,
.post-location>a{
    color: #8e8e8e;
    font-size: 12px;
    margin-top: 50px;
}
.post-location>a:first-letter{
    text-transform: uppercase!important;
}
.post-location{
    margin-left: 84px;

}
/* .index-page-content-container{
    margin-left: 86px;
} */
.post {
    color: black;
    background-color: white;
    display: inline-block;
    box-shadow: 3px 3px 3px black;
    position: relative;
    width: 200px;
    margin-bottom: 25px;
    margin-right: 25px;

}
.post-big{
    width: 425px;
    color: black;
    background-color: white;
    display: inline-block;
    box-shadow: 3px 3px 3px black;
    position: relative;
    margin-bottom: 25px;
    margin-right: 25px;
}
.post-image{
    border: 5px solid #efefef;
    position: absolute;
    height: 189px;
}
.post-image>img{
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.post-author{
    font-size: 20px;
    margin-left: 12px;
}
.post-image-content{
    margin: 3px;
    box-shadow: inset 0 0 10px #3a3a3a;
    position: relative;
    margin-left: 4px;
    margin-right: 4px;
    height: 180px;
    
}
.category-and-date{
    position: absolute;
    font-family: LigueGothic;
    text-transform: uppercase;
    color: white;
    right: 0px;
}

.post-category{
    background-color: #9a1d0d;
    display: inline-block;
    font-size: 18px;
    padding: 9px 12px;
    
    
    
}
.post-separator{
    margin-top: 13px;
    margin-bottom: 13px;
}
.post-date{
    padding: 0 7px 0 0;
    text-shadow: 0 0 5px #3a3a3a;
    font-size: 36px;
    line-height: 33.5px;
    text-align: right;
    margin-right: 0px;
    padding-top: 6px;
}
.post-summary{
    margin: 0 13px 25px 13px;
    color: #7b7b7b;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 98px;
}


/* PAGING */


.pagination-container {
    width: 97%;
    text-align: center;
    position: relative;
    font-size: 20px;
}

.pagination {
    margin: auto;
    display: inline-block;
    text-align: center;
}

.pagination a,
.pagination_go_left a,
.pagination_go_right a {
    color: white;
    display: inline-block;
    text-shadow: 2px 2px black;
}

/* .pagination_go_left a,
.pagination_go_right a {
    padding: 0 9px;
} */

.pagination a {
    font-family: LigueGothic;
    margin-left: 4px;
    padding-top: 11px;
}

.pagination_go_left a{
    font-family: Arial;
}
.pagination_go_right a {
    font-family: Arial;
}

.pagination_go_left a:hover,
.pagination_go_right a:hover,
.pagination_go_left a:active,
.pagination_go_right a:active,
.pagination a:hover,
.pagination a:active {
    color: #dcc08e;
}

.pagination .selectedPaginationNumber {
    color: #dcc08e;
}

.pagination_go_left {
    display: inline-block;
    position: absolute;
    left:0px;
    font-size: 30px;

}

.pagination_go_right {
    display: inline-block;
    position: absolute;
    right: 0px;
    font-size: 30px;
    
}

/* SINGLE POST AND COMMENTS FULL */

article{
   
    display: inline-block;
    width: 72%;
}

.post-content {
    position: relative;
    background-color: white;
    padding: 35px 31px;
    margin-bottom: 16px;
    box-shadow: 3px 3px 3px black;
    color:black;
}

.post-full-content-right{
    width: 97%;
}
.post-full-content-left{
    width: 20%;
    float: left;
}
.full-text{
    color: #7b7b7b;
    width: 100%;
}
.post-title{
    font-family: LigueGothic;
    text-transform: uppercase;
    color: #9a1d0d;
    margin-left: 12px;
    margin-right: 12px;
    /* font-size:22px; */
    margin-top:15px;
}
.post-author{
    font-family: LigueGothic;
    text-transform: uppercase;
    font-size:14px;
   
}
.separator{
    border: none;
    border-top: 1px dotted #cbcbcb;
    margin: 5px 0;

}
.comment-form>input{
    border: 1px solid #d6d6d6;
    background-color: #f6f6f6;
    box-shadow: inset 1px 1px 3px #d6d6d6;
    padding: 10px;
    font-family: inherit;
    font-size: inherit;
     line-height: inherit;
     width: 35%;
}
input#authorName{
    display: block;
    color: black;
    
}
input#avatar{
    display: block;
    color: black;
}
textarea{
    color: black;
    border: 1px solid #d6d6d6;
    background-color: #f6f6f6;
    box-shadow: inset 1px 1px 3px #d6d6d6;
    padding: 10px;
    width: 55%;
}

.submit{
    display: inline-block;
    color: #6e6e6e;
    margin-top: 10px;
    text-transform: uppercase;
    background-color: #efefef;
    text-shadow: 1px 1px white;
    border: 0;
}
.post-comments{
    background-color: white;
    position: relative;
    padding: 10px 0;
    box-shadow: 3px 3px 3px black;
    margin-left: 20%;
    clear:left;
}

 .comment{
     color:black;
     width: 100%;
     margin: 28px 0;
 }
 .comments{
     margin-left: 3%;
     margin-right: 3%;
 }
 .comment-author{
    font-family: LigueGothic;
    text-transform: uppercase;
    font-size: 21px;
    margin-top: 2%;
 }
 
 .comments-text{
    font-size: 12px;
    line-height: 16px;
    color: #7b7b7b;
 }
 .title-comments{
    font-family: LigueGothic;
    text-transform: uppercase;
    color: #9a1d0d;
 }
 /* TAGS STYLE */

 .tags>ul{
     padding:0px;
 }
 .tag-li{
    display: inline-block;
    color: #6e6e6e;
    margin: 2px;
    padding: 10px;
    text-transform: uppercase;
    background-color: #efefef;
    text-shadow: 1px 1px white;
 }

 .post-aside-atributes{
    font-family: LigueGothic;
    text-transform: uppercase;
    /* margin: 28px 0 10px; */
    font-size: 21px;
 }

 /* ASIDE */

 aside{
    display: inline-block;
    vertical-align: top;
    margin-left: 15px;
 }
 .aside-bar>ul{
    /* font-size: 35px; */
    background: #d6d6d6;
 }
 .aside-bar>ul>li{
     display: inline-block;
    
     position: relative;
 }
 .title-toggle{
     font-family: LigueGothic;
     text-transform: uppercase;
     color: #9a1d0d;
     text-shadow: 1px 1px white; 
     margin-top: 22px;
     margin-left: 25px;
     margin-right: 25px;
     margin-bottom: 14px;
     cursor: default;
 }
.submenu-toggle{
    position: absolute;
    background:#e7e7e7;
    color:black;
    display: none;
   
}
.submenu-toggle>li{
    border-top: 1px dotted #524848;
}

.first{
    border-right: black dotted 1px;
}
.second{
    border-right: black dotted 1px;
}
.first>.submenu-toggle{
    background:#e7e7e7;
    width: 364px;

}
.second>.submenu-toggle{
    background:#e7e7e7;
    position: absolute;
    left: -115px;
    width: 364px;
}
.third>.submenu-toggle{
    background:#e7e7e7;
    position: absolute;
    right: 0px;
    width: 364px;
}
.active{
    background:#e7e7e7;
   
}
.active>.submenu-toggle{
    display: block;
    
}

/* FOOTER */

footer{
    width: 100%;
    background: linear-gradient(to right, #191919, #2c2c2c 21.4%, #2c2c2c 78.6%, #191919);
    border-top: 1px solid #4a4a4a;
    box-shadow: 0 -1px 1px black;
    margin-top: 30px;
}
.footer-column{
    float: left;
    width: 253px;
    margin-left: 72px;
}
/* .footer-column>ul,
.footer-column>a{
    
    margin-left: 72px;
} */
.footer-content{
    margin-top: 50px;

}
.footer-titles{
    font-family: LigueGothic !important;
    font-size: 22px;
    text-transform: uppercase;
    color: white;
    /* display: inline-block; */
    text-shadow: 2px 2px black;
}
 @media screen and (max-width: 768px){ 
    .post{
       background: green;
       width: 280px;
    }
    .post-big{
        width: 280px;
    }
    .post-title{
        font-size:155%;
    }
 }

 @media screen and (max-width: 425px){
    .post{
        background: yellow;
    }
    .post-title{
        font-size:50%;
    }
 }