@font-face {
    font-family: LigueGothic;
    src: url('../fonts/LeagueGothic-Regular.otf') format("opentype");
}

@font-face {
    font-family: DroidSans;
    src: url('../fonts/DroidSans.ttf') format("truetype");
}
body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #1c1d1c, #323232 21.4%, #323232 78.6%, #1c1d1c);
    font-family: DroidSans !important; 
    position: relative;
    color: white;
    /* width: 1650px; */
   
}
#logo {
    background-image: url('../images/logo.png');
    background-repeat: no-repeat;
    background-size: 100%;
    display: inline-block;
     width: 359px;
    height: 55px; 
    padding: 50px;
}

/* HEADER */
header {
  padding-top: 102px;
   padding-left: 53px;
}
.img-responsive{
    width: 359px;
}
nav{
    margin-top: 10px;
    z-index: 1;
}
ul {
   list-style-type: none;
}

.mainUl {
    padding-left: 0;
   
}
.mainUl>li{
    display: inline-block;
    margin-left: 20px;
  
}

.mainUl>li>a:hover {
    background:#161616;
    padding: 5px 5px 5px 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: #dcc08e;
    text-decoration: none;
}
.mainUl>li>a{
   
    /* border-radius: 3px;  */
    font-family: LigueGothic !important;
    font-size: 22px;
    text-transform: uppercase;
    color: white;
    display: inline-block;
    text-shadow: 2px 2px black;
   
}
.rootMenu{
    display: inline-block;
}
.mainUl>li:hover .submenu>li>a{
   display: block;
}
.submenu>li>a:hover{
    color: #dcc08e;
    text-decoration: none;
}

.submenu>li>a:hover .bullet{
    color: #901c0d;
    
}
/* .submenu>li:hover .submenu>li{
    color: yellow;
} */
.submenu{
    position: absolute;
    padding: 0;
    padding-left: 10px;
    background:#161616;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    z-index: 10;
}

.submenu>li>a {
    font-family: LigueGothic;

    font-size: 22px;
    text-transform: uppercase;
    color: white;
    text-shadow: 2px 2px black;
    /* padding: 0; */
    display: none
}

/* SINGLE POST */

.post {
    color: black;
    background-color: white;
    display: inline-block;
    box-shadow: 3px 3px 3px black;
    position: relative;
    width: 200px;
    height: 340px;
    margin-bottom: 25px;
    margin-right: 25px;

}

.post-image{
    width: 222px;
    position: relative;
}

.post-image-content{
    margin: 1.5%;
    box-shadow: inset 0 0 10px #3a3a3a;
    /* width: 97%;
    z-index: 5; */
    position: relative;
    width: 50px;
    height: 50px;
    
}

.post-category{
    background-color: #9a1d0d;
    color: white;
    display: inline-block;
    
    
}

.post-date{
    font-family: LigueGothic;
    text-transform: uppercase;
    color: white;
    font-size: 20px;
    padding: 0 7px 0 0;
    text-shadow: 0 0 5px #3a3a3a;
   
}
.post-summary{
    margin: 0 13px 25px 13px;
    color: #7b7b7b;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 201px;
    height: 98px;
}


/* PAGING */





.pagination-container {
    width: 99%;
    margin: 0 auto 0 auto;
    text-align: center;
}

.pagination {
    margin: auto;
    display: inline-block;
    text-align: center;
}

.pagination a,
.pagination_go_left a,
.pagination_go_right a {
    color: white;
    display: inline-block;
    text-shadow: 2px 2px black;
}

.pagination_go_left a,
.pagination_go_right a {
    padding: 0 9px;
}

.pagination a {
    font-family: LigueGothic;
}

.pagination_go_left a,
.pagination_go_right a {
    font-family: Arial;
}

.pagination_go_left a:hover,
.pagination_go_right a:hover,
.pagination_go_left a:active,
.pagination_go_right a:active,
.pagination a:hover,
.pagination a:active {
    color: #dcc08e;
}

.pagination .selectedPaginationNumber {
    color: #dcc08e;
}

.pagination_go_left {
    display: inline-block;
}

.pagination_go_right {
    display: inline-block;
}

/* SINGLE POST AND COMMENTS FULL */

article{
   
    display: inline-block;
    width: 72%;
}

.post-content {
    position: relative;
    background-color: white;
    padding: 35px 31px;
    margin-bottom: 16px;
    box-shadow: 3px 3px 3px black;
    color:black;
}

.post-full-content-right{
   
    
    width: 853px;
   
}
.post-full-content-left{
    width: 196px;
    float: left;
}
.full-text{
    color: #7b7b7b;
}
.post-title{
    font-family: LigueGothic;
    text-transform: uppercase;
    color: #9a1d0d;
}
.post-author{
    font-family: LigueGothic;
    text-transform: uppercase;
}
.separator{
    border: none;
    border-top: 1px dotted #cbcbcb;
    margin: 5px 0;
}
input#authorName{
    display: block;
}
input#avatar{
    display: block;
}
.post-comments{
    background-color: white;
    position: relative;
    padding: 10px 0;
    box-shadow: 3px 3px 3px black;
}

/* @media only screen and (max-width:768px) {
    .post-content {
        position: relative;
        background-color: #B11919;
        /* padding: 35px 31px; */
        margin-bottom: 16px;
        box-shadow: 3px 3px 3px black;
        color:black;
        width: 90%;
        margin-left: 5%;
    }
} */