body,
div,
nav,
footer,
header,
main,
ul,
li,
p,
article,
h4,
input,
textarea {
    padding: 0;
    border: 0;
    margin: 0;
}
@font-face {
    font-family: LigueGothic;
    src: url('../fonts/LeagueGothic-Regular.otf') format("opentype");
}

@font-face {
    font-family: DroidSans;
    src: url('../fonts/DroidSans.ttf') format("truetype");
}

/* notFound page */

/* #notFound{
    background-image: url('../images/notFound.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    display: inline-block;
} */

body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #1c1d1c, #323232 21.4%, #323232 78.6%, #1c1d1c);
    font-family: DroidSans !important; 
    position: relative;
    color: white;
    /* width: 1650px; */
   
}
#logo {
    background-image: url('../images/logo.png');
    background-repeat: no-repeat;
    background-size: 100%;
    display: block;
     width: 395px;
    height: 100px; 
    padding: 50px;
}

/* HEADER */
header {
  padding-top: 102px;
   padding-left: 67px;
   position: relative;
}
.img-responsive{
    width: 359px;
}
nav{
    margin-top: 10px;
    z-index: 1;
    display: inline-block;
}
ul {
   list-style-type: none;
}
a{
    text-decoration: none!important;
}
.mainUl {
    padding-left: 0;
    padding-top: 15px;
   
}
#first-li-child{
    color: #dcc08e;
}
.mainUl>li{
    display: inline-block;
    /* margin-left: 20px; */
    position: relative;
  
}

.mainUl>li:hover .rootMenu{
    background:#161616;
    padding: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: #dcc08e;
    text-decoration: none;
}
.mainUl>li:hover .submenu{
    display: block;
 }
.mainUl>li>a{
   
    /* border-radius: 3px;  */
    font-family: LigueGothic !important;
    font-size: 20px;
    text-transform: uppercase;
    color: white;
    display: inline-block;
    text-shadow: 2px 2px black;
    padding: 10px;
   
}
.rootMenu{
    display: inline-block;
    cursor: default;
}

.submenu>li>a:hover{
    color: #dcc08e;
    text-decoration: none;
}
.submenu>li{
    padding-top: 2px;
    padding-bottom: 2px;
    width: 202px;
}
.submenu>li>a:hover .bullet{
    color: #901c0d;
    
}
/* .submenu>li:hover .submenu>li{
    color: yellow;
} */
.submenu{
    position: absolute;
    padding-left: 10px;
    background:#161616;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    z-index: 10;
    padding-top: 10px;
    padding-bottom: 10px;
    display: none;
}

.submenu>li>a {
    font-family: LigueGothic;

    font-size: 20px;
    text-transform: uppercase;
    color: white;
    text-shadow: 2px 2px black;
    /* padding: 0; */
    
}
.search{
    float: right;
    border-right: 1px solid #595959;
    border-bottom: 1px solid #595959;
    padding: 5px;
    background: #1e1e1e;
    display: inline-block;
    position: absolute;
    right: 55px;
    bottom: 0px;
    
}
.search>input{
    background: #1e1e1e;
    color: white;
    outline: none;
}
.search>button{
    background: transparent;
    border: none;
}

#main-content{
    margin-left: 86px;
    margin-right: 58px;
} 

/* SINGLE POST */
.post-location,
.post-location>a{
    color: #8e8e8e;
    font-size: 12px;
    margin-top: 50px;
}
.post-location>a:first-letter{
    text-transform: uppercase!important;
}
.post-location{
    margin-left: 77px;

}
/* .index-page-content-container{
    margin-left: 86px;
} */
.post {
    color: black;
    background-color: white;
    display: inline-block;
    box-shadow: 3px 3px 3px black;
    position: relative;
    width: 200px;
    margin-bottom: 25px;
    margin-right: 25px;

}
.post-big{
    width: 425px;
    color: black;
    background-color: white;
    display: inline-block;
    box-shadow: 3px 3px 3px black;
    position: relative;
    margin-bottom: 25px;
    margin-right: 25px;
}
.post-image{
    border: 5px solid #efefef;
    position: absolute;
    height: 189px;
}
.post-image.home{
    border: 5px solid #efefef;
    position: absolute;
    height: 187px;
}
.post-image>img{
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.post-author{
    font-size: 20px;
    margin-left: 12px;
}
.post-image-content{
    margin: 3px;
    box-shadow: inset 0 0 10px #3a3a3a;
    position: relative;
    margin-left: 4px;
    margin-right: 4px;
    height: 180px;
    
}
.category-and-date{
    position: absolute;
    font-family: LigueGothic;
    text-transform: uppercase;
    color: white;
    right: 0px;
}

.post-category{
    background-color: #9a1d0d;
    display: inline-block;
    font-size: 18px;
    padding: 9px 12px;
    
    
    
}
.post-separator{
    margin-top: 13px;
    margin-bottom: 13px;
}
.post-date{
    padding: 0 7px 0 0;
    text-shadow: 0 0 5px #3a3a3a;
    font-size: 36px;
    line-height: 33.5px;
    text-align: right;
    margin-right: 0px;
    padding-top: 6px;
}
.post-summary{
    margin: 0 13px 25px 13px;
    color: #7b7b7b;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 98px;
}


/* PAGING */


.pagination-container {
    width: 97%;
    text-align: center;
    position: relative;
    font-size: 20px;
}

.pagination {
    margin: auto;
    display: inline-block;
    text-align: center;
}

.pagination a,
.pagination_go_left a,
.pagination_go_right a {
    color: white;
    display: inline-block;
    text-shadow: 2px 2px black;
}

/* .pagination_go_left a,
.pagination_go_right a {
    padding: 0 9px;
} */

.pagination a {
    font-family: LigueGothic;
    margin-left: 4px;
    padding-top: 11px;
}

.pagination_go_left a{
    font-family: Arial;
}
.pagination_go_right a {
    font-family: Arial;
}

.pagination_go_left a:hover,
.pagination_go_right a:hover,
.pagination_go_left a:active,
.pagination_go_right a:active,
.pagination a:hover,
.pagination a:active {
    color: #dcc08e;
}

.pagination .selectedPaginationNumber {
    color: #dcc08e;
}

.pagination_go_left {
    display: inline-block;
    position: absolute;
    left:0px;
    font-size: 30px;

}

.pagination_go_right {
    display: inline-block;
    position: absolute;
    right: 0px;
    font-size: 30px;
    
}

/* SINGLE POST AND COMMENTS FULL */

article{
   
    display: inline-block;
    width: 72%;
}

.post-content {
    position: relative;
    background-color: white;
    margin-bottom: 16px;
    box-shadow: 3px 3px 3px black;
    color:black;
    min-height: 580px;
}

.post-full-content-right{
    width: 97%;
    padding-top: 12px;
    margin-right: 25px;
}
.post-full-content-left{
    width: 200px;
    float: left;
    margin-right: 25px;
    margin-left: 30px;
    margin-top: 30px;
}
.full-text{
    color: #7b7b7b;
    width: 100%;
}
.post-title{
    font-family: LigueGothic;
    text-transform: uppercase;
    color: #9a1d0d;
    margin-left: 12px;
    margin-right: 12px;
    /* font-size:22px; */
    margin-top:15px;
}
.post-author{
    font-family: LigueGothic;
    text-transform: uppercase;
    font-size:14px;
   
}
.separator{
    border: none;
    border-top: 1px dotted #cbcbcb;
    margin: 5px 0;

}
.single-post-category-and-date{
    right: 6px;
    top: 5px;
}
.share-phone{
    margin-top: 20px;
}
.share-phone>a{
    margin-left: 5px;
}
.comment-form>input{
    border: 1px solid #d6d6d6;
    background-color: #f6f6f6;
    box-shadow: inset 1px 1px 3px #d6d6d6;
    padding: 10px;
    font-family: inherit;
    font-size: inherit;
     line-height: inherit;
     width: 340px;
     margin-bottom: 13px;
}
input#authorName{
    display: block;
    color: black;
    
}
input#avatar{
    display: block;
    color: black;
}
textarea{
    color: black;
    border: 1px solid #d6d6d6;
    background-color: #f6f6f6;
    box-shadow: inset 1px 1px 3px #d6d6d6;
    padding: 10px;
    margin-bottom: 13px;
    width: 500px;
}

.submit{
    display: inline-block;
    color: #6e6e6e;
    margin-top: 10px;
    text-transform: uppercase;
    background-color: #efefef;
    text-shadow: 1px 1px white;
    border: 0;
}
.post-comments{
    background-color: white;
    position: relative;
    padding: 10px 0;
    box-shadow: 3px 3px 3px black;
    margin-left: 20%;
    clear:left;
}
/* .single-comment{
    margin-top: 43px;
} */
.single-comment.replay{
    margin-left: 50px;
}
.post-title.single-post-title{
    margin-left: 0;
}
.post-title.single-post-title-comment{
    margin-left: 0;
    color: #9a1d0d;
}
 .comment{
     color:black;
     /* width: 100%;
     margin: 28px 0; */
 }
 .comment:first-child{
     margin-top: 0px;
 }
 .comments{
    margin-left: 25px;
    margin-right: 25px;
 }

 .btn-replay-div{
    position: relative;
    padding-top: 10px;
    padding-bottom: 5px;
    margin-bottom: 40px;
 }
 .btn-replay{
    position:absolute;
    right: 2px;
    font-size: 10px;
    padding: 10px;
    color: #6e6e6e;
    text-transform: uppercase;
    background-color: #efefef;
    text-shadow: 1px 1px white;
    border: 0;
    
}
.left-comment{
    display: inline-block;
    width: 90%;
    vertical-align: top;
}
 .comment-author{
    font-family: LigueGothic;
    text-transform: uppercase;
    font-size: 21px;
 }
 
 .comments-text{
    font-size: 12px;
    line-height: 16px;
    color: #7b7b7b;
 }
 .title-comments{
    font-family: LigueGothic;
    text-transform: uppercase;
    color: #9a1d0d;
 }
 .comment-image-content{
    margin: 3px;
    box-shadow: inset 0 0 10px #3a3a3a;
    position: relative;
    margin-left: 4px;
    margin-right: 4px;
    height: 64px;
    width: 64px;
    display: inline-block;
 }
 .comment-image-content>.category-and-date{
    position: absolute;
    font-family: LigueGothic;
    text-transform: uppercase;
    color: white;
    right: 0px;
 }
.comment-date,
.comment-category{
    padding: 0 7px 0 0;
    text-shadow: 0 0 5px #3a3a3a;
    /* font-size: 36px; */
    /* line-height: 33.5px; */
    text-align: right;
    margin-right: 0px;
    padding-top: 6px;
 }
 /* TAGS STYLE */

 .tags>ul{
     padding:0px;
 }
 .tag-li{
    display: inline-block;
    color: #6e6e6e;
    margin: 2px;
    padding: 10px;
    text-transform: uppercase;
    background-color: #efefef;
    text-shadow: 1px 1px white;
 }

 .post-aside-atributes{
    font-family: LigueGothic;
    text-transform: uppercase;
    margin: 28px 0 8px;
    font-size: 21px;
 }

 /* ASIDE */

 aside{
    display: inline-block;
    vertical-align: top;
    margin-left: 15px;
    position: relative;
 }
 
 .aside-bar>ul{
    background: #d6d6d6;
 }
 .aside-bar>ul>li{
     display: inline-block;
    
     position: relative;
 }
 .title-toggle{
     font-family: LigueGothic;
     text-transform: uppercase;
     color: #9a1d0d;
     text-shadow: 1px 1px white; 
     margin-top: 22px;
     margin-left: 25px;
     margin-right: 25px;
     margin-bottom: 14px;
     cursor: default;
 }
.submenu-toggle{
    position: absolute;
    background:#e7e7e7;
    color:black;
    display: none;
   
}
.submenu-toggle>li{
    border-top: 1px dotted #524848;
    padding-left: 15px;
    padding-top: 16px;
    padding-bottom: 11px;
    position: relative;
}

.first{
    border-right: black dotted 1px;
}
.second{
    border-right: black dotted 1px;
}
.first>.submenu-toggle{
    background:#e7e7e7;
    width: 364px;

}
.second>.submenu-toggle{
    background:#e7e7e7;
    position: absolute;
    left: -115px;
    width: 364px;
}
.third>.submenu-toggle{
    background:#e7e7e7;
    position: absolute;
    right: 0px;
    width: 364px;
}
.active{
    background:#e7e7e7;
   
}
.active>.submenu-toggle{
    display: block;
    
}
.aside-links{
    display: inline-block;
    position: absolute;
    top: 415px;
    background-color: #e7e7e7;
    box-shadow: 3px 3px 3px black;
}
.aside-links-list>li{
    /* font-size: 12px;
    color: darkgrey;
    font-size: 12px;
    line-height: 21px;
    text-shadow: 1px 1px white;
    line-height: 5px;
    padding-left: 20px;
    padding-right: 111px; */
    /* margin:10px 15px; */
}
.aside-links-list>li>a{
    font-size: 12px;
    color: darkgrey;
    line-height: 21px;
    text-shadow: 1px 1px white;
    padding-left: 20px;
    padding-right: 111px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin:10px 15px;

}
.aside-text{
    display: inline-block;
    position: absolute;
    top: 635px;
    background-color: #e7e7e7;
    box-shadow: 3px 3px 3px black;
}
.aside-text>p{
    font-size: 12px;
    color: darkgrey;
    text-shadow: 1px 1px white;
    padding-left: 20px;
    padding-right: 20px;
}
img.comment-image-content{
    height: 38px;
    width: 38px;
    float: left;
}
.submenu-toggle>li>h6{
    text-shadow: 1px 1px white;
    font-size: 12px;
    padding-bottom: 4px;
}
.submenu-toggle>li>p{
    text-shadow: 1px 1px white;
    font-size: 10px;
    font-family: Georgia;
    color: #a1a1a1;
    font-style: italic;
    position: absolute;
    bottom: 10px;
    left: 62px;
}

/* FOOTER */

footer{
    width: 100%;
    background: linear-gradient(to right, #191919, #2c2c2c 21.4%, #2c2c2c 78.6%, #191919);
    border-top: 1px solid #4a4a4a;
    box-shadow: 0 -1px 1px black;
    margin-top: 30px;
}
.footer-column{
    float: left;
    width: 253px;
    margin-left: 72px;
}
.footer-content{
    margin-top: 50px;

}
.footer-titles{
    font-family: LigueGothic !important;
    font-size: 22px;
    text-transform: uppercase;
    color: white;
    color: #dcc08e;
    text-shadow: 2px 2px black;
}
.footer-links>li>a{
    font-size: 12px;
    line-height: 21px;
    color: #d1d1d1;
    text-shadow: 1px 1px black;
}
.footer-links>li:hover a{
    color:white;
}
.footer-links>li:hover span{
    color:darkred;
}
 @media screen and (max-width: 768px) and (min-width: 428px){ 
    .post{
       background: green;
       width: 280px;
    }
    .post-big{
        width: 280px;
    }
    .post-title{
        font-size:155%;
    }
    /* SINGLE PAGE */

    aside{
        display: none;
    }
    .post-content{
        margin-left: 20px;
        width: 727px;
    }
    .full-text{
        margin-left: 10px;
        text-align: justify;
    }
    .post-title.single-post{
        font-size: 33px;
    }
    .post-comments{
        width: 727px;
        margin-left: 20px;
    }
    .left-comment{
        display: inline-block;
        width: 85%;
        vertical-align: top;
    }
 }

 @media screen and (max-width: 426px) and (min-width: 377px){
    /* NAVIGATION  */
    .mainUl>li{
        display: block;
    }
    .mainUl{
       
        width: 300px;
        background: black;
        border-radius: 11px;
        text-align: center;
    }
    .submenu{
        width: 300px;
        position: relative;
        text-align: justify;
        padding-left: 100px;
    }
    .search{
        right: 109px;
        bottom: -43px;
    }
    header{
         padding-top: 20px;
         padding-left: 56px;
     }
     aside{
         display: none;
     }
     #logo{
        width: 300px; 
     }
    .post,
    .post-big{
        width: 350px;
    }
    .post-title{
        font-size: 40px;
    }
    .post-author{
        font-size: 25px;
    }
    #main-content{
        margin-left: 40px;
    }
    .post-content{
        width: 388px;
        margin-left: 18px;
    }
    .full-text{
        text-align: justify;
        padding: 8px;
    }
    aside{
        display: none;
    }
    .post-full-content-left{
        float: none;
        display: inline;
        margin: 0;
    }
    .page-content{
        display: inline-block;
        width: 390px;
        
    }
    .post-image-content.single-post{
        height: 150px;
        width: 150px;
        float: left;
        margin-top: 11px;
        margin-left: 10px;
        margin-right: 10px;
    }
    .post-image{
        height: 153px;
    }
    .tag-li{
        padding: 8px;
    }
    .tags{
        display: none;
        /* width: 96px;
        display: inline-block;
        vertical-align: top; */
    }
    .related-post{
        display: none
    }
    .tags>ul{
        width: 190px;
        vertical-align: top;
    }
    /* .post-aside-atributes{
        margin: 0px;
    } */
    .post-comments{
        margin-left: 18px;
        width: 390px;
    }

    .social-madeia>.post-aside-atributes{
        display: none;
    }
    .left-comment{
        width: 77%;
    }
    .post-title.single-post-title{
        font-size: 30px;
    }
    textarea{
        width: 340px;
    }
    .comment-image-content{
        vertical-align: top;
    }
    .single-comment.replay{
        margin-left: 23px;
    }
    .single-comment.replay>.left-comment{
        width: 73%;

    }
    .comment-author{
        margin-top: 0px;
    }
    .share-phone{
        margin: 0px;
        padding-top: 10px;
    }
   
 }

 @media screen and (max-width: 376px) and (min-width: 321px){
    .mainUl>li{
        display: block;
    }
    .mainUl{
       
        width: 300px;
        background: black;
        border-radius: 11px;
        text-align: center;
    }
    .submenu{
        width: 300px;
        position: relative;
        text-align: justify;
        padding-left: 100px;
    }
    .search{
        right: 89px;
        bottom: -43px;
    }
    header{
        padding-top: 19px;
        padding-left: 36px;
    }
    aside{
        display: none;
    }
    #logo{
       width: 300px; 
    }
   .post,
   .post-big{
       width: 304px;
       margin-top: 54px;
   }
   .post-title{
       font-size: 40px;
   }
   .post-author{
       font-size: 25px;
   }
   #main-content{
     margin-left: 32px;
   }
   .post-content{
       width: 334px;
       margin-left: 18px;
       margin-top: 54px;
   }
   .full-text{
       text-align: justify;
       padding: 8px;
   }
   aside{
       display: none;
   }
   .post-full-content-left{
       float: none;
       display: inline;
       margin: 0;
   }
   /* .post-full-content-right{
       width: 390px;
   } */
   .page-content{
       display: inline-block;
       width: 390px;
       
   }
   .post-image-content.single-post{
       height: 150px;
       width: 150px;
       float: left;
       margin-top: 11px;
       margin-left: 10px;
       margin-right: 10px;
   }
   .post-location{
       display: none;
   }
   .post-image{
    border: 5px solid #efefef;
    position: absolute;
    height: 152px;
   }
   .post-image.cat{
    border: 5px solid #efefef;
    position: absolute;
    height: 188px;
}
   .post-image>img{
    height: 100%;
    width: 100%;
   }
   .tag-li{
       padding: 8px;
   }
   .tags{
       display: none;
       /* width: 96px;
       display: inline-block;
       vertical-align: top; */
   }
   .related-post{
       display: none
   }
   .tags>ul{
       width: 190px;
       vertical-align: top;
   }
   /* .post-aside-atributes{
       margin: 0px;
   } */
   .post-comments{
       margin-left: 18px;
       width: 335px;
   }

   .social-madeia>.post-aside-atributes{
       display: none;
   }
   .left-comment{
       width: 77%;
   }
   .post-title.single-post-title{
       font-size: 30px;
   }
   .comment-form>input{
    width: 283px;
   }
   textarea{
    width: 283px;
   }
   .comment-image-content{
       vertical-align: top;
   }
   .single-comment.replay{
    margin-left: 35px;
   }
   .single-comment.replay>.left-comment{
       width: 73%;

   }
   .comment-author{
       margin-top: 0px;
   }
   .share-phone{
       margin: 0px;
       padding-top: 10px;
   }
   .share-phone>a{
    margin-left: 2px;
   }
 }
 @media screen and (max-width: 320px){
    
    .mainUl>li{
        display: block;
    }
    .mainUl{
       
        width: 247px;;
        background: black;
        border-radius: 11px;
        text-align: center;
    }
    .submenu{
        width: 247px;
        position: relative;
        text-align: justify;
        padding-left: 100px;
    }
    .search{
        right: 58px;
        bottom: -43px;
    }
    header{
        padding-top: 19px;
        padding-left: 36px;
    }
    aside{
        display: none;
    }
    #logo{
        width: 244px;
    }
   .post,
   .post-big{
       width: 255px;
       margin-top: 54px;
   }
   .post-title{
    font-size: 30px;
   }
   .post-author{
       font-size: 25px;
   }
   #main-content{
     margin-left: 32px;
   }
   .post-content{
       width: 286px;
       font-size: 12px;
       margin-left: 18px;
       margin-top: 54px;
   }
   .full-text{
       text-align: justify;
       padding: 8px;
   }
   aside{
       display: none;
   }
   .post-full-content-left{
       float: none;
       display: inline;
       margin: 0;
   }
   /* .post-full-content-right{
       width: 390px;
   } */
   .page-content{
       display: inline-block;
       width: 390px;
       
   }
   .post-image-content.single-post{
       height: 135px;
       width: 140px;
       float: left;
       margin-top: 11px;
       margin-left: 10px;
       margin-right: 10px;
   }
   .single-post-category-and-date{
       display: none;
   }
   .post-location{
       display: none;
   }
   .post-image{
    border: 5px solid #efefef;
    position: absolute;
    height: 137px;
   }
   .post-image.cat{
    border: 5px solid #efefef;
    position: absolute;
    height: 188px;
}
   .post-image>img{
    height: 100%;
    width: 100%;
   }
   .tag-li{
       padding: 8px;
   }
   .tags{
       display: none;
   }
   .related-post{
       display: none
   }
   .tags>ul{
       width: 190px;
       vertical-align: top;
   }
   .post-comments{
       margin-left: 18px;
       width: 284px;
   }

   .social-madeia>.post-aside-atributes{
       display: none;
   }
   .left-comment{
       width: 77%;
   }
   .post-title.single-post-title{
    font-size: 33px;

   }
   .comment-form>input{
    width: 235px;
   }
   textarea{
    width: 235px;
   }
   .comment-image-content{
       vertical-align: top;
   }
   .single-comment.replay{
    margin-left: 35px;
   }
   .single-comment.replay>.left-comment{
       width: 73%;

   }
   .comment-author{
       margin-top: 0px;
   }
   .share-phone{
       margin: 0px;
       padding-top: 10px;
   }
   .share-phone>a{
    margin-left: 2px;
   }
   .footer-column{
    margin-left: 45px;
   }
 }
 